#light {
  border: 5px solid rgb(249, 185, 230);
  background-color: rgb(247, 249, 249);
  color: rgba(252, 170, 234, 0.934); 

p {
    background-color: rgb(155, 153, 155);
    color: rgb(247, 181, 214);
}

 .piglet {
    background-color: rgb(240, 196, 203);
    color:rgb(112, 122, 122);
    padding: 20px;
}

h3 {
    background-color: rgb(141, 125, 134);
    color: aqua;
    padding: 20px;
}
footer p{
   margin:0;
   padding:0;
 }
 }

