#dark {

    background-color: black;
    color: rgb(245, 209, 232);
 
p {
    background-color: rgb(117, 115, 117);
    color: rgb(252, 177, 215);
}

 .piglet {
    background-color: rgb(240, 196, 203);
    color:rgb(112, 122, 122);
    padding: 20px;
}

h3 {
    background-color: rgb(120, 106, 114);
    color: aqua;
    padding: 20px;
}
footer p{
   margin:0;
   padding:0;
 }
 }

